/bin/
de.bankx.server/DerbyDB/
de.bankx.server/derby.log
de.bankx.server/out/
de.bankx.client.android/.idea/
/.idea/
*.iml
de.bankx.server/build/
de.bankx.server/.gradle/
de.bankx.server/de.bankx.server.iws
de.bankx.client.android/app/release/output.json
de.bankx.client.android/app/release/app-release.apk
