<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Kontenübersicht</h5>
                      </div>
                      <div class="ibox-content">
                          <div class="row">
                              <div class="col-sm-3">
                                  <div class="input-group"><input type="text" placeholder="Kontoname/Kontonummer" class="input-sm form-control"> <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-primary"> Suchen</button>
                                  </div>
                              </div>
                              <div class="col-sm-6"></div>
                              <div class="col-sm-3">
                                  <span class="pull-right"><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addKonto"> Konto hinzufügen</button></span>
                              </div>
                          </div>
                          <div class="modal inmodal" id="addKonto" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-user-circle-o modal-icon"></i>
                                            <h4 class="modal-title">Konto hinzufügen</h4>
                                            <small class="font-bold">Hier kann ein neues Bank-Konto hinzugefügt werden.</small>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group"><label>Kontoname</label> <input type="text" placeholder="Gib den Kontonamen ein." class="form-control"></div>
                                            <div class="form-group"><label>Kontonummer</label> <input type="number" name="quantity" min="0000" size="4" max="9999" placeholder="Gib die Kontonummer ein." class="form-control"></div>
                                            <div class="form-group"><label>Darlehen</label> <input type="text" name="quantity" min="0" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$" placeholder="Gib ein Anfangsdarlehen ein." class="form-control"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Abbrechen</button>
                                            <button type="button" class="btn btn-primary">Erstellen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Kontoname </th>
                                          <th>Kontonummer </th>
                                          <th>Kontostand</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Caspari, Timon</td>
                                          <td>1000</td>
                                          <td>250.00€</td>
                                      </tr>
                                      <tr>
                                          <td>Wesling, Sascha</td>
                                          <td>2000</td>
                                          <td>250.00€</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                      </div>
                  </div>
        </div>
    </div>
</div>
