<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Kontenübersicht</h5>
                      </div>
                      <div class="ibox-content">
                          <div class="row">
                              <div class="col-sm-3">
                                  <div class="input-group"><input type="text" placeholder="Kontoname/Kontonummer" class="input-sm form-control"> <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-primary"> Suchen</button>
                                  </div>
                              </div>
                              <div class="col-sm-6"></div>
                              <div class="col-sm-3">
                                  <span class="pull-right"><button type="button" class="btn btn-sm btn-primary"> Konto hinzufügen</button></span>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Kontoname </th>
                                          <th>Kontonummer </th>
                                          <th>Kontostand</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Caspari, Timon</td>
                                          <td>1000</td>
                                          <td>250.00€</td>
                                      </tr>
                                      <tr>
                                          <td>Wesling, Sascha</td>
                                          <td>2000</td>
                                          <td>250.00€</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>

                      </div>
                  </div>
        </div>
    </div>
</div>
