<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Transaktionsübersicht</h5>
                      </div>
                      <div class="ibox-content">
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>ID </th>
                                          <th>Sender </th>
                                          <th>Empfänger</th>
                                          <th>Betrag </th>
                                          <th>Verwendungszweck </th>
                                          <th>Datum/Uhrzeit </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>2</td>
                                          <td>Wesling, Sascha</td>
                                          <td>Bank</td>
                                          <td>250.00€</td>
                                          <td>Darlehen</td>
                                          <td>23.11.2017 - 19:50</td>
                                      </tr>
                                      <tr>
                                          <td>1</td>
                                          <td>Caspari, Timon</td>
                                          <td>Bank</td>
                                          <td>250.00€</td>
                                          <td>Darlehen</td>
                                          <td>23.11.2017 - 18:24</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
        </div>
    </div>
</div>
